.container {
  padding: 0 2rem;
  position: relative;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}

.Content{
  min-height: 60vh; 
  margin-top: 5px;
  width: 80vw; 
  background-color: rgba(255, 228, 196, 0.8);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-inline: 20px;
}

.Particles {
  position: relative;
  z-index: -1;
}

.About, .Numerical {
  min-height: 60vh;
  margin-top: 5px;
  width: 80vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid #eaeaea; 
  align-items: center;
  flex-wrap: wrap;
  transition-duration: 500ms;
}

.Numerical {
  flex-direction: column;
  transition-duration: 500ms;
}

.About {
  padding-inline: 20px;
}

.About * {
  transition-duration: 300ms;
}

.ANumerical {
  border: 2px solid #0070f3;
  min-height: 60vh;
  margin-top: 5px;
  width: 80vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  transition-duration: 300ms;
}

.ANumerical *, .Numerical * {
  animation-duration: 1.3s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

.Numerical, .ANumerical {
  margin-bottom: 15vh;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.About img {
  -webkit-filter: grayscale(1) drop-shadow(20px 15px 0 #0070f3);
  filter: grayscale(1) drop-shadow(20px 15px 0 #0070f3);
  transition-duration: 300ms;
  max-width: 55%;
  min-width: 40%; 
  height: auto;
}

.About img:hover {
  -webkit-filter: grayscale(0) drop-shadow(0 0 0 black) ;
  filter: grayscale(0) drop-shadow(0 0 0 black);
}

.AboutParagraph {
  min-width: 45%;
  max-width: 55%;
  padding: 1%;
  transition: 300ms;
  border-radius: 10px;
  border: 1px solid antiquewhite;
  background-color: antiquewhite;
}

.AboutParagraph:hover {
  border: 1px solid #0070f3;
  padding: 1%;
  background-color: white;

}

.matrixVal {
  font-size: 2vw;
}

.MatrixTot {
  padding: 1%;
  transition: 300ms;
  display: flex;
  justify-content: space-around;
}

.Matrix{
  border-radius: 10px;
  border: 1px solid antiquewhite;
  background-color: antiquewhite;
  min-width: 100%;
  transition: 500ms;
  padding-inline: 5px;
  margin-bottom: 10px;
}

.Matrix:hover {
  border: 1px solid #0070f3;
  background-color: white;
}

.numOps {
  display: flex; 
  width: 100%;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}
.numOps button {
  width: 30%;
}

.header {
  display: flex;
  flex: 5 2;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
}

.Email {
  margin: 5px;
  margin-bottom: 10px;
  transition-duration: 300ms;
}
.Email:hover {
  color: #0070f3;
}

.EmailModal {
  width: 103%; 
  height: 100%; 
  position:fixed; 
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: -3.5vw;
}

.Modal {
  background-color: antiquewhite;
  min-width: 55%; 
  height: auto; 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
}

.ModalClose {
  width: 100%; 
  height: auto; 
  display: flex; 
  flex-direction: row-reverse;
}

.ModalForm{
  width: 100%; 
  height: auto; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.ModalClose svg {
  filter: invert(1);
  transition: 300ms;
}

.ModalClose svg:hover {
  filter: invert(0);
  color: rgb(195, 2, 2);
}

.ModalInput{
  margin-bottom: 2px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 8px;
  margin-right: 8px;
  color: antiquewhite;
  background-color: #222;
}

.ModalSubmit {
  color: white;
  background-color: #0070f3;
  border: 1px solid #0070f3;
  border: none;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  transition: 300ms;
  border-radius: 10px;
}

.ModalSubmit:hover {
  color: #0070f3;
  background: antiquewhite;
}

.ModalSubmitDisabled {
  color: rgba(255, 255, 255, 0.724);
  background-color: rgb(7, 78, 159);
  border: 1px solid rgb(7, 78, 159);
  border: none;
  width: auto;
  height: 15%;
  padding: 10px;
  margin: 10px;
  transition: 300ms;
  border-radius: 10px;
}

.navigation {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.Hero {
  display: flex;
  width: 20em;
  margin-right: 9vw;
  margin-left: 3vw;
  margin-bottom: 5px;
  align-items: center;
  justify-content: left;
  padding: 10px;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid white;
  transition-duration: 300ms;
}

.Hero:hover {
  border: 1px solid #0070f3;
  border-radius: 10px;
}

.navigation a {
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  transition-duration: 300ms;
}

.navigation a:hover{
  border-radius: 3px;
  background-color: antiquewhite;
  color: black;
}

.Active {
  background-color: #0070f3;
  color: white;
}

.projectList {
  position: absolute;
  background-color: #222;
  z-index: 10;
  border-radius: 10px;
  margin-left: 10px;
  width: 117px;
  animation-duration: 300ms;
  animation-name: nav;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

.projectList a {
  margin-left: 0;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #222;
  animation-duration: 800ms;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes nav {
  0% {
    height: 0; 
    width: 0;
    opacity: 0;
  }

  100% {
    height: 150px;
    width: 117px;
    opacity: 1;
  }
}

.proj {
  color: white;
}

.projact {
  border-radius: 3px;
  background-color: antiquewhite;
  color: black;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.pdf{
  background-color: #0070f3;
  padding: 1em;
  margin: 10px;
  color: white;
  border-radius: 10px;
  transition-duration: 300ms;
  border: 1px solid #0070f3;
}

.pdf img {
  filter: invert(1);
}

.pdf:hover  img{
  filter: none;
}

.pdf:hover{
  border: 1px solid antiquewhite;
  color:black;
  border-radius: 3px;
  background-color: antiquewhite;
}

@media (max-width: 765px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .header{
    padding: 0;
    justify-content: center;
  }
  .container{
    padding: 0;
  }
  .navigation,
  .header {
    flex-direction:  column;
  }
    .projects {
      margin-bottom: 0;
    }
  .navigation a, 
  .navigation div,
  .Hero {
    margin: 0;
    border-radius: 3px;
    border: none;
    width: 100%;
    height: auto;
    justify-content: center;
    transition-duration: 300ms;
  }
  .navigation a,
  .Hero {
    margin-bottom: 5px;
  }
  .fullBodyImg {
    display: none;
  }
  .AboutParagraph{
    min-width: 100%;
  }
  .About img{
    min-width: 100%;
  }
  .EmailModal {
    height: 300%;
    width: 100%; 
    margin-left: 0;
  }
  .Modal{
    width: 90%;
    margin-top: 80%;
  }
  .projectList{
    animation-duration: 200ms;
    animation-name: nav-phone;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }
  @keyframes nav-phone {
    0% {
      height: 0;
    }
    100% {
      height: auto;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer, 
  .navigation a {
    border-color: #222;
  }
  .container {
    background-color: #232338;
    position: relative;
    z-index: 0;
  }
  .logo img {
    filter: invert(1);
  }
  .Hero{
    border: 1px solid #232338;
  }
  .About img {
    -webkit-filter: grayscale(1) drop-shadow(20px 15px 0 antiquewhite);
    filter: grayscale(1) drop-shadow(20px 15px 0 antiquewhite);
  }
  .AboutParagraph {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    color: #232338;
  }
  .AboutParagraph:hover{
    background-color: #232338;
    color: antiquewhite;
    border: 1px solid antiquewhite;
  }
  .AboutTitle {
    color: antiquewhite;
  }
  .matrixVal{
    color: black;
  }
}


.react_switch_checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react_switch_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.react_switch_label .react_switch_button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react_switch_checkbox:checked+.react_switch_label .react_switch_button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react_switch_label:active .react_switch_button {
  width: 60px;
}